<html>
    <head>
        <title>Django's awesomeness</title>
    </head>
    <body>
        <div>
            <h1>Django's awesomeness starts here!</h1>
        </div>

        <div>
            <p>published: 20.11.2015, 13:16</p>
            <h2><a href="#">First post full of awesomeness</a></h2>
            <p>Nór sá nulda varta arandur. Cu alma manwa hen, árë lú indómë nurtalom teletelya. Talta yelma taniquelassë hos us, píca nénar nat uë. Cotë yarra tuilë sú hos. Tië tixë tacil lindelëa nú.

            Yanen tanwëataquë uë íta, vëaner nainië alahasta as tál. Nót oa norna enyárë, up nén téra nixë. Uë heri ainu teletelya nóa, lië pitya turúva haloitë yá. Oio na yaru norna, salmë venessë oi rip.

            Viltë yarra é car. Uë venë mardo haloitë sín, as ilu lasta sundo mettarë, to rac maren tasar orosta. Toa cu lauta roina etéraettul, rámië laira terpellië yá ava. Riel laito telpina cor ma, mí hala linta ataquë óla, harë úcarë sá yen. Áya mírëa valinor us, yén uë urúva tareldar. Tulma oaris náhanemnam ta ama, fëa mitya nonwa leryalehtya mí. Nu aqua rata qua, rata yulma ya coa, sí hat mëoi pica.
            </p>
        </div>

    </body>
</html>
