<html>
    <head>
        <title>Django's awesomeness</title>
    </head>
    <body>
        <div>
            <h1>Django's awesomeness starts here!</h1>
        </div>

        <div>
            <p>published: 20.11.2015, 13:16</p>
            <h2><a href="">First post full of awesomeness</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum fermentum ligula et faucibus. Morbi ultricies lectus mi, in gravida dolor elementum ac. Nunc venenatis erat sit amet placerat varius. Fusce arcu mauris, tincidunt vel vestibulum sed, pulvinar sed erat. Mauris facilisis, elit non lacinia pellentesque, lectus orci sollicitudin nisl, lobortis fermentum elit purus in risus. Nam vel sodales neque, vel semper justo. Mauris est mi, accumsan laoreet enim id, malesuada sagittis leo. Vestibulum placerat tortor eget felis convallis rhoncus. Aenean laoreet sed odio quis dictum. Ut sit amet nulla egestas, posuere eros eu, sollicitudin ipsum. Sed tincidunt, magna in ultrices porttitor, lorem quam aliquam nisl, ac mattis mi nisl varius nisl. Aenean eu condimentum tellus.</p>
        </div>

    </body>
</html>
